<div class="jumbotron">
  <div class="container">
<%= form_for @ingredient do |f| %>
<%= f.hidden_field :recipe_id %>
<%= f.label :name %>
<%= f.text_field :name %><br/>
<%= f.submit %>
<% end %>
</div>
</div>
