<section class="recipes">
  <!-- <% if @recipe.user.present? %>
    <div class="userEmail">Added by: <%= @recipe.user.email %></div>
  <% else %>
    <div>Added by Anonyomous</div>
  <% end %> -->
  <a href="#" class="js-next" data-id="<%=@recipe.id%>">Next Recipe...</a>
  <h3 class="recipeName"><%= @recipe.name %></h3>
  <p class="recipePrep">Prep Time:
    <%= @recipe.prep_time %>
    minutes
  </p>
  <p class="recipeCook">Cook Time:
    <%= @recipe.cook_time %>
    minutes
  </p>
  <%= render 'ingredients/list_ingredients', recipe: @recipe %>
  <h3>Instructions:</h3>
    <p class="recipeBody"><%= @recipe.instructions %></p>
  <hr>
    <%= render 'reviews/form', review: @recipe.reviews.new, recipe: @recipe %>
    <%= link_to 'Edit Recipe', edit_user_recipe_path(@recipe) %>
    |
    <%= link_to 'Remove Recipe', @recipe, :method => :delete, :confirm => "Are you sure ?"%>
    |
    <%= link_to 'Go Back', recipes_path %>
</section>

<section id="reviews-section">
  <h3>Reviews:</h3>
  <% if @recipe.reviews.present? %>
    <% @recipe.reviews.each do |r| %>
      <h5><strong> <%= r.reviewer %><br><%= r.description %></strong><br><%= r.difficulty %><hr></h5>
    <% end %>
  <% end %>
</section>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(e) {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/recipes/" + nextId + ".json", function(data) {
      //$(".userEmail").text(data["user"]["email"]);
      $(".recipeName").text(data["name"]);
      $(".recipePrep").text(data["prep_time"]).prepend("Prep Time: ").append(" minutes");
      $(".recipeCook").text(data["cook_time"]).prepend("Cook Time: ").append(" minutes");
      $(".recipeBody").text(data["instructions"]);
      $(".recipeIngredients").text(data["ingredients"]);
      $(".js-next").attr("data-id", data["id"]);
    });
    e.preventDefault();
  });
});
</script>
