<div class="field_with_errors">
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %>
        prohibited this recipe from being saved:
      </h2>

      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for(@recipe) do |f| %>
  Recipe Name:
  <%= f.text_field :name %><br/>
  Prep Time :
  <%= f.text_field :prep_time %>
  minutes.<br/>
  Cook Time :
  <%= f.text_field :cook_time %>
  minutes.<br/>

  <h3>Add Ingredients:</h3>
  <div>
    <%= f.fields_for :recipe_ingredients do |ri| %>
    <div>
      <%= ri.fields_for :ingredient, @recipe.ingredients.build do |ingredient| %>
      Name:
      <%= ingredient.text_field :name %>
    <% end %>
    Or Select Ingredient:
    <%= ri.collection_select :ingredient_id, Ingredient.order('name ASC').all, :id, :name, include_blank: 'Select Ingredient' %>
    <br>
    <%= ri.label :name, 'Quantity:' %>
    <%= ri.text_field :quantity %>
  </div>
<% end %>

</div>
<%= f.submit %>
<% end %>
</div>
<hr>
