<div class="jumbotron">
  <div class="container">
<div class="field_with_errors">
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %>
        prohibited this recipe from being saved:
      </h2>

      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for(@recipe) do |f| %>
  Recipe Name:
  <%= f.text_field :name %><br/><br/>
  Prep Time :
  <%= f.text_field :prep_time %>
  minutes.<br/><br/>
  Cook Time :
  <%= f.text_field :cook_time %>
  minutes.<br/><br/>
  <h2>Add Ingredients:</h2>
  <div>
  <%= f.fields_for :recipe_ingredients, @ingredients do |ri| %>
  <div>
  <%= ri.label :name, 'Quantity' %>
  <%= ri.text_field :quantity %>
  Select Ingredient: <%= ri.collection_select :ingredient_id, Ingredient.order('name ASC').all, :id, :name, include_blank: 'Select Ingredient' %><br>
    <%= ri.fields_for :ingredient, @recipe.ingredients.build do |ingredient| %>
    Or Create New Ingredient: <%= ingredient.text_field :name %>
    <% end %>
  </div>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>
</div>
<hr>
</div>
</div>
