<section class="recipes">
  <h3><%= @recipe.name %></h3>
  <p>Prep Time:
    <%= @recipe.prep_time %>
    minutes
  </p>
  <p>Cook Time:
    <%= @recipe.cook_time %>
    minutes
  </p>
  <%= render 'ingredients/list_ingredients', recipe: @recipe %>
  <h3>Instructions:
  </h3>
  <%= @recipe.instructions %>
  <hr>
  <%= render 'reviews/form', review: @recipe.reviews.new, recipe: @recipe %>
  <%= link_to 'Edit Recipe', edit_user_recipe_path(@recipe) %>
  |
  <%= link_to 'Remove Recipe', @recipe, :method => :delete, :confirm => "Are you sure ?"%>
  |
  <%= link_to 'Go Back', recipes_path %>
</section>
<section class="reviews">
  <h3>Reviews:</h3>
  <h4>Difficulty Level: <%= @recipe.reviews.average(:difficulty).round %></h4>
  <% @recipe.reviews.each do |r| %>
    <p>
      <span class="glyphicon glyphicon-heart-empty"></span>
      <%= r.description %></p>
  <% end %>
</section>
