<!DOCTYPE html>
<html>
  <head>
    <title>VeggieRecipes</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">veggie recipes</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if user_signed_in? %>
                <a href="/">
                  <span class="glyphicon glyphicon-home"></span>
                  Home</a>
              </li>
              <li>
                <a href="/users/<%= current_user.id %>/recipes">
                  <span class="glyphicon glyphicon-apple"></span>
                  Recipes</a>
              </li>
              <li>
                <a href="/users/<%= current_user.id %>/reviews">
                  <span class="glyphicon glyphicon-apple"></span>
                  My Reviews</a>
              </li>
              <li>
                <a href="/users/edit">
                  <span class="glyphicon glyphicon-edit"></span>
                  Edit User</a>
              </li>
              <li>
                <a rel="nofollow" data-method="delete" href="/users/sign_out">
                  <span class="glyphicon glyphicon-log-out"></span>
                  Sign Out</a>
              </li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/users/sign_up">
                  <span class="glyphicon glyphicon-user"></span>
                  Sign Up</a>
              </li>
              <li>
                <a href="/users/sign_in">
                  <span class="glyphicon glyphicon-log-in"></span>
                  Login</a>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <%= yield %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value.upcase %>
            <i class="material-icons">
              check_circle</i>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer">
      <div class="footer-copyright text-center py-3">
        VeggieRecipes © 2018</div>
    </footer>
    <!-- Footer -->
  </body>
</html>
