<section>
  <h3>Ingredients:</h3>
  <hr>
  <div id="ingredient_list">
    <%= form_tag(ingredients_path, method: :get) do %>
      <%= text_field_tag :term, params[:term] %>
      <%= submit_tag 'Search Ingredients', name: nil %>
    <% end %>
    OR
    <%= form_for @ingredient, html: {class: :new_ingredient} do |f| %>
    <%= f.text_field :name, placeholder: "Ingredient Name" %>
    <%= f.submit 'Add New Ingredient '%>
    <% end %>
    <hr>
    <% @ingredients.each do |i| %>
      <ul>
        <li><%= link_to i.name, ingredient_path(i) %></li>
      </ul>
    <% end %>
  </div>
  <button id="reverse" class="btn">Reverse</button>
  <div class="reversed"></div>
</section>
