<section class="recipes">
  <% if @ingredient.recipes.empty? %>
    <h4>No recipes with <%= @ingredient.name%></h4>
  <% else %>
    <h4>Recipes with
      <%= @ingredient.name %>:</h4>
    <% @ingredient.recipes.each do |r| %>
      <li><%= link_to r.name, recipe_path(r) %></li>
    <% end %>
  <% end %>
  <hr>
  <%= link_to 'Go Back', ingredients_path %> Or <%= link_to 'Add New Recipe', recipes_path %>

</section>
